
.cat-bg{
  background-image: url('https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
